h1, table {
	margin: 1rem 0;
}

h1 {
	color: steelblue;
}

tbody, tr, td {
	border: 3px solid firebrick !important;
}

td {
	height: 8rem;
	width: 16rem;
	margin: auto;
	vertical-align: middle !important;
}
