section {
	margin: auto;
	width: 80%;
	padding: 50px;
}

label {
	font-size: 30px;
	font: sans-serif;
	color: gray;
	height: 50px;
}

span {
	color: red;
}
.btn {
	width: 100%;
	border-radius: 10px;
}

select {
	margin-bottom: 20px;
}