body {
	padding: 20px;
	font-family: sans-serif;
	font-weight: 100;
}

section {
	text-align: center;
}

input {
	height: 40px !important;
	width: 350px !important;
	background-color: 	 #ffe6e6;
	border-style: groove;

}

div {
	height: 3rem;
	width: 3rem;
	display: inline-block;
	font-size: 10px !important;
	border-style: double;
	background-color: green;
}

h1 {
	font-size: 50px;
}