body {
	padding: 20px;
	font-family: sans-serif;
	font-weight: 100;
}

div {
	width: 100px;
	height: 80px;
	background: yellow;
	border: 2px solid red;
	float: left;
	margin: 20px;
	text-align: center;
}